body {
    background-image: url('../recursos/img/apple-pro-display-xdr-abstracto_5120x2880_xtrafondos.com.jpg');
    background-size: cover; /* Para cubrir todo el fondo */
    background-position: center; /* Para centrar la imagen */
    background-repeat: no-repeat; /* Para evitar que se repita */
    min-width: 100%; /* Establece un ancho mínimo */
    min-height: 100vh; /* Establece una altura mínima */
}


#principal{
    margin: 0px;
    padding: 0px;
}

.container{
    background-color: aquamarine;


}

div> p{
    font-family: 'Comic Sans MS';
}


/*---------------------------------------- CODIGO PARA LAS IMAGENES ------------------------------------------------------*/
#img1{
    height: 40px;
    width: 40px;
}

#img2{
    height: 50px;
    width: 50px;
}

#img3{
    height: 50px;
    width: 50px;
}

#img4{
    height: 50px;
    width: 50px;
}
/*---------------------------------------- FIN DE LOS CODIGOS DE LAS IMAGENES --------------------------------------------*/